.navbarContainer {
  padding: 15px;

  .link {
    text-decoration: none;
    margin-right: 10px;
    padding-right: 5px;
    border-bottom: 1px solid blueviolet;
    border-right: 1px solid blueviolet;
    border-bottom-right-radius: 5px;
  }

  .active {
    font-weight: bold;
    color: blueviolet;
  }
}

